/* Start Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}
body{
    /* height: 3000px; */
}
a{
    color: black;
    text-decoration: none;
}
.container{
    width: 70vw;
    margin: auto;
}

.yellow-tape{
    position: absolute;
    background: var(--main-color);
    width: 60vw;
    padding: 1.5em;
    z-index: 1;
    font-size: 1.5em;
}
/*End Global Styles */


/* Start Root Styles */
:root{
    --font-size:1.3em;
    --main-font: 'Raleway', sans-serif;
    --main-color:#ffff60;
    --background-color:#fff;
    --Sec-background-color:#f3f3f3;
}

/* End  Root Styles */


/* Start Nav Bar section */
nav{
    background: var(--background-color);
    padding: 20px;
    font-size:var(--font-size);
    position: fixed;
    width: 100%;
    z-index: 9999;
    /* ################## THis will be added with js on scrol */
    /* box-shadow: 1px 1px 55px rgba(0, 0, 0, 0.062); */
    -webkit-box-shadow: 0 10px 20px -6px rgb(248, 248, 248);
    -moz-box-shadow: 0 10px 20px -6pxrgb(248, 248, 248);
         box-shadow: 0 10px 20px -6px rgb(248, 248, 248);
}
nav .container .gad{
    float: left;
    padding: 10px;
}
nav .container .dropdown{
    float: right;
    cursor: pointer;
    padding: 10px;
}

/* End Nav Bar section */


/* Start landing page Section */

section.landing-page{
    background: var(--background-color);
    padding: 50px;
    padding-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
section.landing-page img{
    width: 300px;
    height: 400px;
    /* box-shadow: 0px 30px 60px rgba(0,0,0,35%); */
    -webkit-box-shadow: 0 10px 20px -6px rgb(107, 107, 107);
    -moz-box-shadow: 0 10px 20px -6px rgb(107, 107, 107);
         box-shadow: 0 10px 20px -6px rgb(107, 107, 107);
    z-index: 2;
}
section.landing-page .intro-name{
    margin-left: 50px;
    margin-top: -120px;
}
section.landing-page .intro-name p{
    font-size: 2em;
    font-weight: 10;
}
section.landing-page .intro-name .my-name{
    font-size: 4em;
    font-weight: bold;
}
/* ===============start Style of Yellow Tape */
section.landing-page .yellow-tape{
    left: 180px;
    bottom: 70px;
    text-align: right;
    font-size: 1.5em;
}
/* ===============End Style of Yellow Tape */

/* End landing page Section */


/* Start Who Am I Section */
.who-me{
    background: var(--background-color);
    padding: 100px;
    position: relative;
}
/* Start Social Media Circle */
.who-me .social-media{
    position: fixed;
    top: 200px;
    transform: translateX(-230px);
    width: autp;
    height: 60px;
    background: var(--main-color);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 10000;

    transition: 0.5s all ease-in-out;
    cursor: pointer;
    -webkit-box-shadow: 0 5px 10px -6px rgb(107, 107, 107);
    -moz-box-shadow: 0 5px 10px -6px rgb(107, 107, 107);
         box-shadow: 0 5px 10px -6px rgb(107, 107, 107);
}
.who-me .social-media:hover{
    transform:translateX(-99px);
}
.who-me .social-media .phone{
    width:32px;
    height:32px;
}
.who-me .social-media .social-accounts {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: -10px;
}
.who-me .social-media .social-accounts a{
    position: relative;
    transition: .1s all ease-in-out;
}
.who-me .social-media .social-accounts a:hover{
    transform: translateY(-5px);
}
/* ENd Social Media Circle */
.who-me h2{
    font-size:3em ;
    font-weight: bold;
}
.who-me .sec-content{
    position: relative;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "tape img"
        "para img";
        height: auto;
}

.who-me .sec-content .yellow-tape{
    grid-area: tape;
    left:155px;
    top:25px;
    text-align: left;
}
.who-me .sec-content img{
    grid-area: img;
    width: 300px;
    height: 400px;
    -webkit-box-shadow: 0 10px 20px -6px rgb(107, 107, 107);
    -moz-box-shadow: 0 10px 20px -6px rgb(107, 107, 107);
         box-shadow: 0 10px 20px -6px rgb(107, 107, 107);
    z-index: 2
;}

.who-me .sec-content .descripe-me{
    grid-area: para;

    position: relative;
    top: -150px;
    padding: 10px;
    line-height:30px;
    font-size: 1.275em;
    font-weight: 400;
}
.who-me .sec-content .descripe-me strong{
    font-weight: bolder;
}

/* End Who Am I Section */

/* Start Pojects Section */
section.projects{
    position: relative;
    padding: 50px;
    background: var(--Sec-background-color);
    text-align: center;
}
section.projects h2{
    font-size:2.7em ;
    font-weight: bold;
}
section.projects .projects-file{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
section.projects .projects-file .project{
    margin: 20px;
}
section.projects .projects-file .project .project-img{
    position: relative;
    border-top: 5px solid var(--main-color);
    border-radius: 5px;
    width: 550px;
    height: 450px;
    z-index: 1;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 20px -6px rgb(189, 189, 189);
    -moz-box-shadow: 0 10px 20px -6px rgb(189, 189, 189);
         box-shadow: 0 10px 20px -6px rgb(189, 189, 189);

   
}
section.projects .projects-file .project .project-img:hover .demo-div{
    transform: translateX(20px);
}
section.projects .projects-file .project .project-img .demo-div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-color);
    border-radius:80% 0%  0%  0%;
    z-index:2;

    font-weight: bolder;
    font-size: var(--font-size);
    text-align: right;
    cursor: pointer;

    transform: translateX(250px);
    transition: 0.4s all ease-in-out;
}

section.projects .projects-file .project img{
    width: 100%;
    height: 100%;
}

section.projects .projects-file .project .project-name{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: bolder;
}
/* End Pojects Section */

/* Start Footer Section */
footer{
    padding: 20px;
    text-align: center;
    background: var(--main-color);
    font-size: 1.5em;
}
/* End Footer Section */